:root {
    --font-family-primary: 'Poppins', sans-serif;

    /* line heights */
    --line-height-s: 16px;
    --line-height-m: 26px;
    --line-height-l: 36px;

    /* font sizes */
    --font-size-xs: 0.75rem;
    --font-size-s: 0.875rem;
    --font-size-m: 1rem;
    --font-size-l: 1.125rem;
    --font-size-xl: 32px;
    --font-size-xxl: 48px;

    /* font weights */
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}
